In [44]:
import pandas as pd
import numpy as np

import popsims
from popsims.galaxy import Disk
from astropy.coordinates import SkyCoord
import astropy.units as u

import warnings

warnings.filterwarnings("ignore")

from popsims.galaxy import Disk, Halo, Uniform
from popsims.plot_style import  plot_style
import splat.empirical as spe

plot_style()
import matplotlib.pyplot as plt

In [22]:
#draw masses from a power-law IMF and uniform ages
#obtain temperatures from Baraffe et al.2003 relations
p=popsims.Population(evolmodel_name='burrows1997', #evolutionary model
              imf_power= -0.6, #power-law imf
              binary_fraction=0.01, #binary fraction 
              age_range=[0.01, 14], #age range in Gyr
              mass_range=[0.01, 1], #mass range in solar masses
             nsample=1e4)   
p.simulate()

In [27]:
gmodel=Uniform()

In [28]:
ra, dec= popsims.random_angles(10) #draw randm points

In [29]:
p.add_distances(gmodel, ra, dec, 0, 30, dsteps=5000) #dsteps number of steps in trapezoidal integration

In [ ]:
fig, ax=plt.subplots()
_= plt.hist(p.mass, bins=100)

In [30]:
p.to_dataframe(['mass', 'age', 'distance'])

          mass        age   distance
0     0.978649  12.928666  28.660982
1     0.026092   4.242202  21.875724
2     0.011792  13.493661  29.322849
3     0.018056   7.195364  27.907662
4     0.012617  12.295136  22.466222
...        ...        ...        ...
9995  0.297035   6.083633  26.662033
9996  0.061016   3.485888  20.195732
9997  0.812774  10.123757  25.666586
9998  0.514281   1.873277  18.858812
9999  0.704314   4.997208  26.459902

[10000 rows x 3 columns]

In [31]:
p.scale_to_local_lf() #scale to Kikpatrick et al. LF

In [37]:
p.__dict__.keys() #list all the properties

dict_keys(['imfpower', 'binaryfraction', 'binaryq', 'evolmodel_name', 'metallicity', 'agerange', 'massrange', 'nsample', 'evol_model', 'temperature', 'luminosity', 'mass', 'age', 'is_binary', 'spt', 'prim_spt', 'sec_spt', 'pri_mass', 'sec_mass', 'prim_luminosity', 'sec_luminosity', 'distance', 'scale', 'scale_unc', 'scale_times_model'])

In [41]:
#sorry I only have like LSST magnitude relations included\
#but you can use splat to get magnitude relations
cols=['temperature', 'luminosity', 'mass', 'age', 'is_binary', 'spt', 'prim_spt', 'sec_spt']
df= p.to_dataframe(cols)

In [49]:
mags=[spe.typeToMag(x, 'MKO_J')[0] for x in df.spt.values]

In [ ]:
#you can compute expcted number counts