In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
data=pd.read_pickle('/users/caganze/research/isochrones.pkl')

In [3]:
data.keys()

dict_keys(['ca1', 'ca2'])

In [4]:
#ca1 = Fe/H= -1.5
#ca2= Fe/H= -0.5
mets={'ca1': -1.5, 'ca2': -0.5}

In [58]:
all_vals=[]
for met in ['ca1', 'ca2']:
    vls= data[met]
    for age in vls.keys():
        teffs= data[met][age]['teff'],
        logg= data[met][age]['logg']
        assert len(teffs[0]) == len(logg)
        vlsx={'age': age*np.ones_like(teffs).flatten(),
              'temperature': teffs[0].flatten(),
              'logg': data[met][age]['logg'],
              'lum':  data[met][age]['lum'],
              'mass':data[met][age]['mass'],
              'radius': data[met][age]['radius']}
        all_vals.append(pd.Series(vlsx))

In [59]:
df=pd.DataFrame(all_vals)

#for c in df.columns:
df_new={}
for c in df.columns:
    df_new[c]=np.concatenate(df[c].values)

In [61]:
pd.DataFrame(df_new)

                age  temperature      logg       lum      mass    radius
0      1.000000e+03  3284.742444  3.315417 -1.157681  0.050000 -0.089190
1      1.000000e+03  3295.676110  3.292419 -1.107698  0.052503 -0.067085
2      1.000000e+03  3303.326233  3.275371 -1.070771  0.054454 -0.050636
3      1.000000e+03  3305.080358  3.271030 -1.061450  0.054966 -0.046436
4      1.000000e+03  3311.656787  3.255240 -1.027352  0.056878 -0.031114
...             ...          ...       ...       ...       ...       ...
12888  1.400000e+10  4500.973973  4.630035 -0.821918  0.634059 -0.194919
12889  1.400000e+10  4607.699753  4.618289 -0.758290  0.650580 -0.183460
12890  1.400000e+10  4709.626054  4.606705 -0.698484  0.666061 -0.172562
12891  1.400000e+10  4810.361522  4.594396 -0.639618  0.681249 -0.161511
12892  1.400000e+10  4910.908244  4.581106 -0.580885  0.696326 -0.150113

[12893 rows x 6 columns]

In [23]:
#df_t.EBV.values.flatten()

In [62]:
pd.DataFrame(df_new).to_csv('/users/caganze/research/roman_new_isochrones.csv', index=False)

In [63]:
pd.DataFrame(df_new)

                age  temperature      logg       lum      mass    radius
0      1.000000e+03  3284.742444  3.315417 -1.157681  0.050000 -0.089190
1      1.000000e+03  3295.676110  3.292419 -1.107698  0.052503 -0.067085
2      1.000000e+03  3303.326233  3.275371 -1.070771  0.054454 -0.050636
3      1.000000e+03  3305.080358  3.271030 -1.061450  0.054966 -0.046436
4      1.000000e+03  3311.656787  3.255240 -1.027352  0.056878 -0.031114
...             ...          ...       ...       ...       ...       ...
12888  1.400000e+10  4500.973973  4.630035 -0.821918  0.634059 -0.194919
12889  1.400000e+10  4607.699753  4.618289 -0.758290  0.650580 -0.183460
12890  1.400000e+10  4709.626054  4.606705 -0.698484  0.666061 -0.172562
12891  1.400000e+10  4810.361522  4.594396 -0.639618  0.681249 -0.161511
12892  1.400000e+10  4910.908244  4.581106 -0.580885  0.696326 -0.150113

[12893 rows x 6 columns]